<h1>Categories</h1>

<%= will_paginate @categories %>

<table>
  <tr>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category|%> 
      <tr>
        <td> <%= link_to category.name, category_path(category)%> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if logged_in? && current_user.admin?%> 
  <p>
    <td> <%= link_to 'Create new category', new_category_path %> </td>
  </p>
<% end %>

<%= will_paginate @categories %>